* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    background-color: #242424;
    scroll-behavior: smooth;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	color: white;
}

body {
	scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	color: white;
	text-decoration: underline;
}

h3 {
	font-size: 2vw;
	text-align: center;
}

p {
	font-size: 1.25vw;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	line-height: 150%;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	/* scroll-snap-align: center; */
}

.container>img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60vw;
	height: 60vh;
	object-fit: contain;
}

.container>h1 {
	margin-top: 5vh;
	font-size: 5vh;
}

/* #################### */

#progressBarContainer {
	position: fixed;
	left: 100vw;
	top: 0;
	width: 2vw;
	height: 100vh;
	transition: .5s;
}

#progressBar {
	width: 100%;
	height: 100vh;
	transition: .5s;
}

#progressBarContainer:hover #progressBar {
	height: 96vh;
}

/* Bar total height 40vh */

#upperBar, #lowerBar {
	background-color: #CCCCCC88;
	width: 3px;
	transition: height .5s;
}

#upperBar {
	height: 4vh;
}

#lowerBar {
	height: 36vh;
}

#currentTitle {
	height: 10vh;
	transition: height .5s;
	border-left: 5px solid #CCC;
}

#currentTitleText {
	width: 100%;
	height: 100%;
	writing-mode: vertical-lr;
	text-orientation: sideways;
	text-align: center;
	font-size: 1.5vh;
}

#upArrow,
#downArrow {
	background-color: #00000000;
	height: 2vh;
	cursor: pointer;
}

#upArrow {
	margin-top: -2vh;
	transition: .5s;
}

#upArrowImg,
#downArrowImg {
	margin-left: auto;
	margin-right: auto;

	width: 2vh;
	height: 2vh;

	display: block;
	object-fit: contain;
	opacity: 100%;
	background-color: #00000000;
}

#progressBarContainer:hover #upArrow {
	margin-top: 0;
}

footer {
	display: none;
}