#transition2Image {
    display: block;
    position: absolute;
    width: 98vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

#transition2Image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bubble5 {
    display: block;
    position: absolute;
    width: 20vw;
    height: auto;
    left: 2.5vw;
    top: 2.5vh;
    z-index: 100;
    background-color: #00000000;
}

#bubble5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #00000000;
}

#bubble6 {
    width: max(10vw, 15vh);
    height: auto;
    left: 54vw;
    top: min(29vh, calc(48.5vh - 13.3vw));

    animation-name: shaking;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes shaking {
    0%   {padding: 0;}
    50%  {padding: 5px;}
    100% {padding: 0;}
}

#bubble7 {
    width: max(30vw, 10vh);
    height: auto;
    left: 64vw;
    top: min(14vh, calc(33.5vh - 13.3vw));
}

#bubble7 p {
    left: 32%;
    top: 22%;
    width: 60%;

    font-size: 2.5vw;
    text-align: center;
}