/* .writeup-text {
    font-size: min(1.3vw, 1.75vh);
	line-height: 125%;
    margin-bottom: 1vh;
} */

.writeup-text {
    font-size: min(1.8vw, 2.2vh); 
    line-height: 135%;            
    margin-bottom: 1.5vh;         
}


.imageContainer {
    width: 75vw;
    height: 30vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
}

.imageContainer img {
    width: auto;
    height: 100%;
}